<!DOCTYPE html>
<html>
<head>
    <title>{{.BandName}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>{{.BandName}}</h1>
    <img src="{{.Image}}" alt="{{.BandName}} image">
    <h2>Members</h2>
    <ul>
        {{range .Members}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    <h2>Locations</h2>
    <ul>
        {{range .Locations}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    <h2>Concert Dates</h2>
    <ul>
        {{range .ConcertDates}}
        <li>{{.}}</li>
        {{end}}
    </ul>
</div>
</body>
</html>