<!DOCTYPE html>
<html>
<head>
    <title>{{.query}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Search results for {{.query}}</h1>

    <div class="row">
        {{range .bands}}
        <div class="col-3">
            <div class="card">
                <img src="{{.Image}}" class="card-img-top" alt="{{.BandName}}">
                <div class="card-body">
                    <h5 class="card-title">{{.BandName}}</h5>
                    <a href="/bands/{{.BandId}}">More Information</a>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
</body>
</html>